{erl_opts, [debug_info]}.

{plugins, [{provider_asn1, "0.2.3"}]}.

{xref_checks,[
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{deps, [{epcap,
         {git,
          "https://github.com/massemanet/epcap",
          "6c2608d3af6c4cb7fc192e6f657359812fc91007"}},
        {pkt,
         {git,
          "https://github.com/massemanet/pkt",
          "5d73b60c4fa4e9e2823de15e564965360d225157"}}]}.
